:root{
    --color-hue: 0;
    --color-saturation: 30%;
    --color-lightness: 90%;
    
    --desktop-development-status:terminado;
    --desktop-development-note:Es una pagina sencilla realmente;

    --mobile-development-status: ;
    --mobile-development-note: ;

    --publish-date:'2023-04-05';
}
[data-theme="dark"]{
    --color-saturation: 35%;
    --color-lightness: 40%;
}
input{
    margin-top: 10px;
}