:root{
    --color-hue: 150;
    --color-saturation: 30%;
    --color-lightness: 90%;
    
    --desktop-development-status:actualizando;
    --desktop-development-note:Esta pagina se está actualizando activamente;

    --mobile-development-status: ;
    --mobile-development-note: ;

    --publish-date:'2023-03-14';
}
[data-theme="dark"]{
    --color-saturation: 35%;
    --color-lightness: 40%;
}
.song{
    text-align: center;
    font-weight: bold;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 100px 100px hsla(var(--color-hue), calc(var(--color-saturation) - 20%), calc(var(--color-lightness) - 20%), 0.8);
    height: 150px !important;
    width: 150px !important;
    max-width: 150px !important;
    aspect-ratio: 1/1;
}