#productos{
    height: 100%;
}
#productos section{
    display: inline-block;
    overflow: overlay;
    text-align: center;
    border-radius: 20px;
    position: sticky;
    overflow-x: hidden;
    overflow-y: auto;
    height: 70vh;
}
#productos #lista{
    width: 20%;
    backdrop-filter: brightness(50%) blur(5px);
    float: left;
}
#productos #descripcion{
    width: 79%;
    float: right;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: brightness(50%) blur(5px);
    color: white;
}
#productos #descripcion h1{
    margin: 30px;
    font-size: 50px;
}
#productos #descripcion div{
    float:left;
}
#productos #descripcion img{
    float:right;
    margin: 30px;
}
#productos #descripcion h2{
    margin: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 40px;
}
#producto{
    margin: 20px;
    font-size: 20px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    text-align: center;
    border-radius: 10px;
}
#producto img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#producto:hover{
    background-color: rgba(255, 255, 255, 0.7);
}