/*
Hecho por Jeffry Samuel Eduarte Rojas
Correo institucional: jeduarte30114@ufide.ac.cr
Este proyecto puede ser modificado y forkeado pero por favor incluir creditos, gracias.
Cualquier cosa CSS como tal no puede hacer nada como robo de informacion, basicamente maneja el estilo. Asi que no hay de que preocuparse.
Disfruten de la pagina que una universidad privada se merece.
*/
div#nav-drawer {
	background: #111111;
}
div#nav-drawer div#nav-drawer-container nav.list-group {
	display: flex;
	gap: 10px !important;
	flex-direction: column;
	padding-top: 10px;
	padding-left: 10px;
}
div#nav-drawer div#nav-drawer-container nav.list-group a {
	background: #151517 !important;
	color: #949ae0;
	border-top-left-radius: 20px !important;
	border-bottom-left-radius: 20px !important;
	padding: 0 !important;
}
div#mycoursessubmenu {
	background: #151517 !important;
}
div#mycoursessubmenu > a > div > div.media {
	margin: 0;
	padding-left: 5px !important;
	padding-right: 0 !important;
}
div#mycoursessubmenu > a {
	margin: 0 !important;
}
div#nav-drawer div#nav-drawer-container nav.list-group a div.media {
	padding: 10px;
	gap: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;
}
div#nav-drawer div#nav-drawer-container nav.list-group a > div {
	height: 100%;
}
div#nav-drawer div#nav-drawer-container nav.list-group a div.media span.media-body {
	flex-grow: 1;
}
div#nav-drawer div#nav-drawer-container nav.list-group a div.media span.media-left.remuiicon {
	width: auto !important;
	height: auto !important;
	margin: 0 !important;
}
div#nav-drawer div#nav-drawer-container nav.list-group a div.media span.media-left.remuiicon i {
	margin: 0 !important;
}
div.navbar-brand > a.header-logo img {
	padding: 10px;
	object-fit: contain;
}
a, div.multiblock ul.nav li.nav-item a.nav-link {
	color: #949ae0 !important;
}
div#page {
	backdrop-filter: var(--background-effect);
}
header .mr-2 {
	text-align: center;
	width: 100%;
}
header nav {
	text-align: center;
}
div[role="main"] > aside > section[data-block="myoverview"], section.card {
	background: transparent;
}
header .breadcrumb {
	width: 100%;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
header .breadcrumb li a {
	color: white !important;
}
header .breadcrumb li:last-child a {
	color: #FFDA00 !important;
}
div[role="main"] div.course-content > div > ul > li, div[role="main"] div.course-content > div ul li#section-0.section.main[role="region"] {
	background: #151517 !important;
	border-radius: 20px;
}
div[role="main"] div.course-content > div > ul {
	background: #151517 !important;
	border-radius: 20px;
	padding: 0;
}
div[role="main"] div.course-content ul div.contentwithoutlink img[role="presentation"]{
	padding: 5px;
	border-radius: 20px;
	border: solid black 2px;
	background: white;
}
div[role="main"] div.course-content > div > ul > li h3.sectionname {
	margin-left: 50px;
	margin-right: 50px;
}
div[role="main"] div.course-content div.section-navigation h3.sectionname {
	background: #151517 !important;
	border-radius: 20px;
	padding: 10px;
}
li.activity div.activityinstance > a span.instancename {
	color: white !important;
}
li.activity div.activityinstance > a {
	display: flex !important;
	padding: 5px;
	gap: 40px;
	justify-content: left;
	align-items: center;
}
div.card-body {
	background: rgba(32, 33, 36, 0.90) !important;
	backdrop-filter: blur(5px);
	border-radius: 20px;
	color: white !important;
	margin-top: 20px;
	box-shadow: rgba(var(--shadow-color), 0.1) 0px 8px 24px, rgba(var(--shadow-color), 0.1) 0px 16px 56px, rgba(var(--shadow-color), 0.1) 0px 24px 80px;
}
div.card-body h4, div.card-body h3 {
	color: white !important;
	text-decoration: underline #FFDA00;
}
div[data-region="paged-content-page"] > div[role="list"] {
	flex-wrap: wrap;
	display: flex;
	gap: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
	align-items: center;
	justify-content: center;
}
div[data-region="course-content"] {
	border: none !important;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	max-width: 30vmax;
	flex-grow: 1;
	width: auto;
	background: #111111 !important;
	padding: 0 !important;
	border-radius: 20px;
}
div[data-region="course-content"] .ml-auto .small {
	color: white;
	text-align: right;
	margin-top: 10px;
}
div[data-region="course-content"] .ml-auto .progress {
	background: black;
}
div[data-region="course-content"] .ml-auto .progress .progress-bar {
	background: #FFDA00;
}
div[data-region="course-content"] > div > a {
	position: absolute;
    left: 0;
    top: 0;
	height: 100% !important;
}
div[data-region="course-content"] > div > a > div {
	object-fit: cover;
	border-radius: 0 !important;
	height: 100% !important;
	width: 200px;
	-webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0.75), rgba(0,0,0,0));
	border-bottom-left-radius: 20px !important;
	border-top-left-radius: 20px !important;
}
div[data-region="course-content"] > div {
	margin: 0;
	height: 100%;
	position: relative;
}
div[data-region="course-content"] > div > div {
	z-index: 2;
	padding: 20px !important;
}
div[data-region="course-content"] > div > div h6 {
	color: white !important;
}
div[data-region="course-content"] > div > div > div > div > button {
	background: transparent;
	border: none !important;
	margin-right: -10px;
	margin-top: -10px;
}
div[data-region="course-content"] > div > div > div > div > button > i {
	color: white !important;
}
div[data-region="course-content"] > div > div > div > div > button:hover > i {
	color: black !important;
}
div.tool_dataprivacy:after {
	content: "  |  Modificaciones hechas por JeffSER";
}
button.dropdown-toggle, button.btn[data-action="toggle-manual-completion"] {
	background: #151517 !important;
	color: white !important;
}
nav.navbar, nav.navbar-brand {
	background: transparent !important;
}
body {
	background: var(--background);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
div#page {
	background: transparent !important;
}
div#page-wrapper {
	background: transparent !important;
}
nav.navbar > div {
	background: rgba(42, 50, 138, 0.8);
	backdrop-filter: blur(5px);
}
section[data-region="blocks-column"] {
	background: #111111 !important;
	height: auto !important;
	position: fixed !important;
	padding: 10px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
body.sidebar-pinned section[data-region="blocks-column"] {
	position: fixed !important;
}
body.sidebar-pinned {
	margin-right: 0 !important;
}
section[data-region="blocks-column"] h5{
	color: white !important;
}
section[data-region="blocks-column"] div.page-aside-switch {
	background: #2B338C !important;
	top: calc(50% - 44px) !important;
	position: absolute !important;
	left: -25px;
}
section[data-region="blocks-column"] div.card-body{
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
section[data-region="blocks-column"] a.nav-link {
	cursor: default;
}
section[data-region="blocks-column"] a.nav-link i.icon:before{
	color: #FFDA00 !important;
}
section[data-region="blocks-column"] div.block_microsoft div.profilepicture {
	text-align: center;
}
div.site-sidebar-tab-content {
	height: auto !important;
}
html {
	background: transparent;
}
jdiv#jvlabelWrap {
	top: unset !important;
	bottom: 20% !important;
}
footer > div.floating-buttons {
	right: 5% !important;
}
ul.nav-tabs {
	border-bottom: none !important;
}
ul.nav-tabs .nav-link.active {
	border-color: #FFDA00 !important;
}
.dropdown-menu {
	background: #202124 !important;
}
.dropdown-menu a:focus, .dropdown-menu a:hover {
	color: white !important;
	background: #111111 !important;
}
section#region-bottom-blocks, section#region-top-blocks {
	display: none !important;
}
div.content-section > ul.topics > li {
	background: transparent !important;
}
h5, h5 span, p span, p {
	color: white !important;
}
div.course-content ul.nav-tabs li.nav-item a {
	color: #949ae0 !important;
}
div.course-content ul.nav-tabs li.nav-item a.active {
	color: #FFDA00 !important;
	border: none !important;
}
section[data-block="mycertificates"] > div.card-body > div.content > p.alert {
	color: white !important;
	background: #111111 !important;
	border-radius: 20px;
}
div.message-app {
	background: rgba(17, 17, 17, 0.8);
	backdrop-filter: blur(5px);
}
div.drawer {
	background: transparent !important;
}
div.message-app div[data-region="view-overview"] > div.text-right {
	text-align: left !important;
}
div.message-app button {
	color: #949AE0 !important;
}
div.message-app div.list-group a {
	background: #111111 !important;
}
div.message-app div.list-group a p[data-region="last-message"] span {
	color: white !important;
}
div.message-app div.input-group > * {
	background: #111111 !important;
	color: white;
}
div.message-app div[data-region="content-message-container"] div.message {
	background: #111111 !important;
}
div.message-app div[data-region="content-message-container"] div[data-region="day-container"] > h6 {
	color: white !important;
}
div.message-app div.footer-container textarea {
	background: #111111 !important;
	color: white;
}
div.popover-region-container {
	background: rgba(17, 17, 17, 0.8);
	backdrop-filter: blur(5px) !important;
	border-radius: 20px;
}
div.popover-region-container h3 {
	color: #949AE0 !important;
}
div.popover-region-container div.empty-message {
	color: white !important;
}
div.popover-region-container a.see-all-link > div{
	background: black;
	color: white !important;
}
div[data-region="emoji-picker"] {
	border-radius: 10px;
	background: #111111 !important;
}
div[data-region="emoji-picker"] > div.card-footer {
	border-radius: 10px;
	background: #111111 !important;
	border: none !important;
}
div[data-region="emoji-picker"] > div.card-footer > div[data-region="emoji-short-name"] {
	color: white !important;
}
div[data-region="emoji-picker"] > div.card-body {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	margin-top: 0 !important;
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}
div[data-region="emoji-picker"] > div.card-body > div.input-group > div > span {
	padding: 10px !important;
}
div.calendar-controls h2 {
	color: #949ae0 !important;
}
div.spinner-wrapper {
	background: var(--background) !important; 
	background-attachment: fixed !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}
div.spinner-wrapper > * {
	padding: 10px;
	border-radius: 20px;
	background: rgba(17, 17, 17, 0.8);
	backdrop-filter: blur(5px);
	box-shadow: rgba(var(--shadow-color), 0.1) 0px 8px 24px, rgba(var(--shadow-color), 0.1) 0px 16px 56px, rgba(var(--shadow-color), 0.1) 0px 24px 80px;
}
div.spinner-wrapper > div.img-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	width: auto;
}
div.spinner-wrapper > div.img-container:after {
	content: "Fide@Night by JeffSER";
	color: white !important;
	font-size: 120%;
}
div[data-region="loading-placeholder-content"] {
	background: #111111 !important;
	color: white !important;
}
