/*
Hecho por Jeffry Samuel Eduarte Rojas
Correo institucional: jeduarte30114@ufide.ac.cr
Este proyecto puede ser modificado y forkeado pero por favor incluir creditos, gracias.
Cualquier cosa CSS como tal no puede hacer nada como robo de informacion, basicamente maneja el estilo. Asi que no hay de que preocuparse.
Disfruten de la pagina que una universidad privada se merece.
*/
div#nav-drawer {
	background: #111111;
}
div#nav-drawer div#nav-drawer-container nav.list-group {
	display: flex;
	gap: 10px !important;
	flex-direction: column;
	/*padding: 10px;*/
	padding-top: 10px;
	padding-left: 10px;
}
div#nav-drawer div#nav-drawer-container nav.list-group a {
	background: #151517 !important;
	color: #949ae0;
	border-top-left-radius: 20px !important;
	border-bottom-left-radius: 20px !important;
	padding: 0 !important;
}
div#mycoursessubmenu {
	background: #151517 !important;
}
div#mycoursessubmenu > a > div > div.media {
	margin: 0;
	padding-left: 5px !important;
	padding-right: 0 !important;
}
div#mycoursessubmenu > a {
	margin: 0 !important;
}
div#nav-drawer div#nav-drawer-container nav.list-group a div.media {
	padding: 10px;
	gap: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;
}
div#nav-drawer div#nav-drawer-container nav.list-group a > div {
	height: 100%;
}
div#nav-drawer div#nav-drawer-container nav.list-group a div.media span.media-body {
	flex-grow: 1;
}
div#nav-drawer div#nav-drawer-container nav.list-group a div.media span.media-left.remuiicon {
	width: auto !important;
	height: auto !important;
	margin: 0 !important;
}
div#nav-drawer div#nav-drawer-container nav.list-group a div.media span.media-left.remuiicon i {
	margin: 0 !important;
}
div.navbar-brand > a.header-logo img {
	padding: 10px;
	object-fit: contain;
}
a, div.multiblock ul.nav li.nav-item a.nav-link {
	color: #949ae0 !important;
}
div#page {
	background: transparent;
	backdrop-filter: var(--background-effect);
}
header .mr-2 {
	text-align: center;
	width: 100%;
}
header nav {
	text-align: center;
}
div[role="main"] > aside > section[data-block="myoverview"], section.card {
	background: transparent;
}
header .breadcrumb {
	width: 100%;
	text-align: center;
	display flex;
	flex-wrap: wrap;
	justify-content: center;
}
header .breadcrumb li a {
	color: white !important;
}
header .breadcrumb li:last-child a {
	color: #FFDA00 !important;
}
div[role="main"] div.course-content > div > ul > li, div[role="main"] div.course-content > div > ul > li#section-0.section.main[role="region"] {
	background: #151517 !important;
	border-radius: 20px;
}
div[role="main"] div.course-content > div > ul {
	background: #151517 !important;
	border-radius: 20px;
	padding: 0;
}
div[role="main"] div.course-content ul div.contentwithoutlink img[role="presentation"]{
	padding: 5px;
	border-radius: 20px;
	border: solid black 2px;
	background: white;
}
div[role="main"] div.course-content > div > ul > li h3.sectionname {
	margin-left: 50px;
	margin-right: 50px;
}
div[role="main"] div.course-content div.section-navigation h3.sectionname {
	background: #151517 !important;
	border-radius: 20px;
	padding: 10px;
}
li.activity div.activityinstance > a span.instancename {
	color: white !important;
}
li.activity div.activityinstance > a {
	display: flex !important;
	padding: 5px;
	gap: 40px;
	justify-content: left;
	align-items: center;
}
div.card-body {
	background: #202124 !important;
	border-radius: 20px;
	color: white !important;
	margin-top: 20px;
	box-shadow: rgba(var(--shadow-color), 0.1) 0px 8px 24px, rgba(var(--shadow-color), 0.1) 0px 16px 56px, rgba(var(--shadow-color), 0.1) 0px 24px 80px;
}
div.card-body h4, div.card-body h3 {
	color: white !important;
	text-decoration: underline #FFDA00;
}
div[data-region="paged-content-page"] > div[role="list"] {
	flex-wrap: wrap;
	display: flex;
	gap: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
	align-items: center;
	justify-content: center;
}
div[data-region="course-content"] {
	border: none !important;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	max-width: 30vmax;
	flex-grow: 1;
	width: auto;
	background: #111111 !important;
	padding: 0 !important;
	border-radius: 20px;
}
div[data-region="course-content"] .ml-auto .small {
	color: white;
	text-align: right;
}
div[data-region="course-content"] .ml-auto .progress {
	background: black;
}
div[data-region="course-content"] .ml-auto .progress .progress-bar {
	background: #FFDA00;
}
div[data-region="course-content"] > div > a {
	position: absolute;
    left: 0;
    top: 0;
	height: 100% !important;
}
div[data-region="course-content"] > div > a > div {
	object-fit: cover;
	border-radius: 0 !important;
	height: 100% !important;
	width: 200px;
	-webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
	border-bottom-left-radius: 20px !important;
	border-top-left-radius: 20px !important;
}
div[data-region="course-content"] > div {
	margin: 0;
	height: 100%;
	position: relative;
}
div[data-region="course-content"] > div > div {
	z-index: 2;
	padding: 20px !important;
}
div[data-region="course-content"] > div > div h6 {
	color: white !important;
}
div[data-region="course-content"] > div > div > div > div > button {
	background: transparent;
	border: none !important;
	margin-right: -10px;
	margin-top: -10px;
}
div[data-region="course-content"] > div > div > div > div > button > i {
	color: white !important;
}
div[data-region="course-content"] > div > div > div > div > button:hover > i {
	color: black !important;
}
div.tool_dataprivacy:after {
	content: "  |  Modificaciones hechas por JeffSER";
}
button.dropdown-toggle {
	background: #151517;
	color: white !important;
}
nav.navbar, nav.navbar-brand {
	background: transparent !important;
}
body, div#page-wrapper {
	background: var(--background);
	background-attachment: fixed;
	background-repeat: no-repeat;
}
nav.navbar > div {
	background: rgba(42, 50, 138, 0.8);
	backdrop-filter: blur(5px);
}
section[data-region="blocks-column"] {
	background: #111111 !important;
}
section[data-region="blocks-column"] h5{
	color: white !important;
}
section[data-region="blocks-column"] div.page-aside-switch {
	background: #2B338C !important;
}
section[data-region="blocks-column"] div.card-body{
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
html {
	background: transparent;
}
jdiv.label_d9a5#jvlabelWrap {
	top: unset !important;
	bottom: 10% !important;
}
footer > div.floating-buttons {
	right: 5% !important;
}
div.multiblock ul.nav-tabs {
	border-bottom: none !important;
}
div.multiblock ul.nav-tabs .nav-link.active {
	border-color: #FFDA00 !important;
}
ul.dropdown-menu {
	background: #202124 !important;
}
ul.dropdown-menu > li a.dropdown-item:focus {
	color: white !important;
	background: #111111 !important;
}
section#region-bottom-blocks, section#region-top-blocks {
	display: none !important;
}
