@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Montserrat&display=swap');
*{
    transition: .2s;
}
::-webkit-scrollbar{
    width: 1vmin;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: hsl(calc(var(--color-hue) + 40), calc(var(--color-saturation) - 10%), calc(var(--color-lightness) - 40%));
    border-radius: 0.5vmin;
}
::-webkit-scrollbar-thumb:hover{
    background: hsl(calc(var(--color-hue) + 40), calc(var(--color-saturation) - 10%), calc(var(--color-lightness) - 50%));
}
:root{
    --header-scale: 12vmin;
    --main-color: ;
    --header-border: solid transparent 0px;
    --base-font-size: 20px;
    --h1-font-size: 46px;
    --h2-font-size: 36px;
    --h3-font-size: 26px;
}
@media screen and (orientation:portrait){
    #main{
        width: 95vw;
    }
    pre:has(code){
        min-width: 10vw !important;
        max-width: calc(95vw - 8vmin) !important;
        width: calc(95vw - 8vmin) !important;
    }
    #richAlert pre:has(code){
        min-width: 10vw !important;
        max-width: calc(100% - 4vmin) !important;
        width: 90vw !important;
    }
}
@media screen and (orientation:landscape){
    #main{
        width: 70vw;
    }
    pre:has(code){
        min-width: 10vw !important;
        max-width: calc(70vw - 8vmin) !important;
        width: unset !important;
    }
    #richAlert pre:has(code){
        min-width: 10vw !important;
        max-width: calc(100% - 4vmin) !important;
        width: unset !important;
    }
}
body{
    overflow-y: overlay;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
    background-color: hsl(var(--color-hue), calc(var(--color-saturation) - 20%), calc(var(--color-lightness) - 20%));
}
header{
    letter-spacing: .5vmin;
    font-family: 'Gloock', serif;
    z-index: 10;
    backdrop-filter: blur(.5vmin);
    background-color: hsla(var(--color-hue), calc(var(--color-saturation) - 20%), calc(var(--color-lightness) - 10%), var(--header-background-opacity));
    border-bottom: var(--header-border);
    right: 0;
    left: 0;
    position: fixed;
    /*color: hsl(var(--color-hue), calc(var(--color-saturation) - 10%), calc(var(--color-lightness) - 40%));*/
    text-align: center;
    height: calc(var(--header-scale)*1.4);
    border-bottom-left-radius: 2vmin;
    border-bottom-right-radius: 2vmin;
}
header div{
    display: inline-table;
    padding: calc(var(--header-scale)/6);
}
header div img{
    box-shadow: hsl(var(--color-hue), calc(var(--color-saturation) - 10%), calc(var(--color-lightness) - 0%)) 0px 0px 0px 5px;
    cursor: pointer;
    margin-right: calc(var(--header-scale)/6);
    height: var(--header-scale);
    border-radius: 50%;
    float: left;
}
header div b{
    background-image: linear-gradient(
        -225deg,
        hsl(var(--color-hue), calc(var(--color-saturation) - 10%), calc(var(--color-lightness) - 0%)) 0%,
        hsl(calc(var(--color-hue) - 30), calc(var(--color-saturation) - 10%), calc(var(--color-lightness) - 0%)) 50%,
        hsl(var(--color-hue), calc(var(--color-saturation) - 10%), calc(var(--color-lightness) - 0%)) 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: black;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    cursor: pointer;
    float: right;
    font-size: calc(var(--header-scale)*0.8);
    animation: textclip 5s linear infinite;
}
@keyframes textclip{
    to{
        background-position: 200% center;
    }
}
footer{
    font-size: 10pt;
    margin-top: 2vmin;
    margin-bottom: 2vmin;
}
footer a{
    font-family: 'Gloock', serif;
}
#main{
    margin-top: calc(var(--header-scale)*1.5);
    text-align: left;
    display: inline-table;
    padding-top: 2vmin;
    padding-bottom: 2vmin;
    border-bottom: solid hsl(var(--color-hue), calc(var(--color-saturation) - 25%), calc(var(--color-lightness) - 40%)) .4vmin;
    font-size: var(--base-font-size);
    color: hsl(var(--color-hue), calc(var(--color-saturation) - 100%), calc(110% - var(--color-lightness)));
}
a{
    text-decoration: underline wavy;
    text-decoration-thickness: 1px;
    color: hsl(calc(var(--color-hue) - 30), calc(var(--color-saturation) - 10%), calc(110% - var(--color-lightness)));
}
h1{
    text-decoration-skip-ink: none;
    text-decoration: underline wavy;
    text-decoration-thickness: 4px;
    text-decoration-color: hsl(calc(var(--color-hue) + 40), calc(var(--color-saturation) - 20%), calc(100% - var(--color-lightness)));
    letter-spacing: .5vmin;
    font-family: 'Gloock', serif;
    margin-top: 20px;
    margin-bottom: 20px;
    color: hsl(calc(var(--color-hue) + 40), calc(var(--color-saturation) - 10%), calc(100% - var(--color-lightness)));
    font-size: var(--h1-font-size);
}
h2{
    letter-spacing: .5vmin;
    font-family: 'Gloock', serif;
    margin-top: 20px;
    margin-bottom: 20px;
    color: hsl(calc(var(--color-hue) - 30), calc(var(--color-saturation) - 10%), calc(100% - var(--color-lightness)));
    font-size: var(--h2-font-size);
}
h3{
    letter-spacing: .5vmin;
    font-family: 'Gloock', serif;
    margin-top: 20px;
    margin-bottom: 20px;
    color: hsl(calc(var(--color-hue) + 10), calc(var(--color-saturation) - 5%), calc(100% - var(--color-lightness)));
    font-size: var(--h3-font-size);
}
hr{
    margin-top: 1vmin;
    margin-bottom: 1vmin;
    border: transparent;
    border-top: dashed hsl(var(--color-hue), calc(var(--color-saturation) - 25%), calc(var(--color-lightness) - 40%)) .4vmin;
}
#main div:not(.button-list), #richAlert div:not(.button-list){
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: hsl(var(--color-hue), calc(var(--color-saturation) - 20%), calc(var(--color-lightness) - 10%));
    border: solid hsl(var(--color-hue), calc(var(--color-saturation) - 25%), calc(var(--color-lightness) - 40%)) .4vmin;
    border-radius: 10px;
    padding: 1vmin;
}
#main div div.button-list, #richAlert div div.button-list{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    column-gap: 1vmin;
    row-gap: 1vmin;
}
#main div div.button-list a, #richAlert div div.button-list a{
    height: 40px;
    min-width: fit-content;
    cursor: pointer;
    color: hsl(var(--color-hue), calc(var(--color-saturation) - 100%), calc(110% - var(--color-lightness)));
    text-decoration: none;
    margin: 0;
    flex-grow: 1;
    padding: 10px;
    font-size: var(--base-font-size);
    background-color: transparent;
    outline-color: transparent;
    border-radius: 10px;
    background-color: hsl(var(--color-hue), calc(var(--color-saturation) - 25%), calc(var(--color-lightness) - 30%));
    border: solid hsl(var(--color-hue), calc(var(--color-saturation) - 25%), calc(var(--color-lightness) - 40%)) .4vmin;
    display: flex;
    align-items:center;
    justify-content:center;
}
#main div div.button-list a:hover, #main div div.button-list a:focus, #richAlert div div.button-list a:hover, #richAlert div div.button-list a:focus{
    border: solid hsl(var(--color-hue), calc(var(--color-saturation) - 0%), calc(var(--color-lightness) - 0%)) .4vmin;
}
#main div div.button-list a img.icon, #richAlert div div.button-list a img.icon{
    object-fit: cover;
    height: 90%;
    aspect-ratio: 1/1;
    margin-right: 10px;
}
#main img{
    filter: saturate(var(--color-saturation)) brightness(calc(var(--color-lightness) + 10%));
}
#main img:not(img.icon){
    width: calc(100% - .8vmin);
    border-radius: 10px;
    border: solid hsl(var(--color-hue), calc(var(--color-saturation) - 25%), calc(var(--color-lightness) - 40%)) .4vmin;
    aspect-ratio: 16/4;
    object-fit: cover;
}
#richAlertContainer{
    z-index: 20;
    backdrop-filter: grayscale(.75);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#richAlert{
    color: hsl(var(--color-hue), calc(var(--color-saturation) - 100%), calc(110% - var(--color-lightness)));
    max-width: 90vw;
    text-align: left;
    display: inline-table;
    border: solid hsl(var(--color-hue), calc(var(--color-saturation) - 25%), calc(var(--color-lightness) - 40%)) .4vmin;
    background-color: hsl(var(--color-hue), calc(var(--color-saturation) - 20%), calc(var(--color-lightness) - 20%));
    border-radius: 10px;
    padding: 20px;
}
#richAlert h1{
    font-size: var(--h1-font-size);
}
#richAlert h2{
    font-size: var(--h2-font-size);
}
#richAlert{
    font-size: var(--base-font-size);
}
#richAlert #development{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1vmin;
    row-gap: 1vmin;
}
#richAlert #development img{
    display: block;
    margin-top: 20px;
    aspect-ratio: 1/1;
    height: 20vh;
    flex-grow: 1;
    object-fit: contain;
}
#richAlert #development #development-information{
    flex-grow: 2;
}
pre:has(code){
    width: 100% !important;
    padding: 0 !important;
}
code{
    width: 100% !important;
    padding: 4vmin !important;
    max-width: inherit;
    overflow-x: auto;
    font-size: var(--base-font-size);
    border-radius: 2vmin !important;
}