:root{
    --color-hue: 200;
    --color-saturation: 30%;
    --color-lightness: 90%;
    
    --desktop-development-status:actualizando;
    --desktop-development-note:Esta pagina se está actualizando activamente;

    --mobile-development-status: ;
    --mobile-development-note: ;

    --publish-date:'2023-02-19';
}
[data-theme="dark"]{
    --color-saturation: 35%;
    --color-lightness: 40%;
}
#status-list div{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 75px !important;
    cursor: unset !important;
    color: hsl(var(--color-hue), calc(var(--color-saturation) - 100%), calc(110% - var(--color-lightness)));
    text-decoration: none;
    margin: 0;
    flex-grow: 1;
    padding: 10px;
    font-size: var(--base-font-size);
    background-color: transparent;
    outline-color: transparent;
    border-radius: 10px;
    background-color: hsl(var(--color-hue), calc(var(--color-saturation) - 25%), calc(var(--color-lightness) - 30%)) !important;
    border: solid hsl(var(--color-hue), calc(var(--color-saturation) - 25%), calc(var(--color-lightness) - 40%)) .4vmin !important;
}
#status-list div *{
    display: inline-table;
}
#status-list h3{
    margin: 0px;
}
#status-list h3, #status-list b{
    line-height: calc(75px / 2);
}
#status-list div img{
    float: left;
    width: unset !important;
    height: 90%;
    aspect-ratio: 1/1 !important;
    margin-right: 10px;
}