@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Roboto:wght@100&display=swap');
*{font-family: 'Roboto', sans-serif; transition: .3s; caret-color: transparent;}
*::selection {background-color: rgba(0, 0, 0, 0.3); color: white;}
::-webkit-scrollbar{
    width: 1vmin;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.4);
    border-radius: 0.5vmin;
}
::-webkit-scrollbar-thumb:hover{
    background: rgba(255, 255, 255, 0.7);
}
body{
    background-color: black;
    color: white;
    overflow: overlay;
    margin: 0;
    text-align: center;
}
header{
    text-align: center;
}
header div{
    padding: 1vmin;
    display: inline-table;
    height: 6vmin;
}
header div img{
    float: left;
    height: 6vmin;
    margin-right: 1vmin;
    border-radius: 50%;
}
header div b{
    float: right;
    font-size: 4.5vmin;
    padding-top: 1vmin;
    padding-bottom: 1vmin;
}
#main{
    font-size: 2.5vmin;
    display: inline-table;
    text-align: left;
    width: 80vmin;
}
#main img{
    width: 100%;
    padding-top: 1.5vmin;
    padding-bottom: 1.5vmin;
    margin-top: 1.5vmin;
    margin-bottom: 1.5vmin;
    border-top: solid;
    border-bottom: solid;
}
#main a{
    color: white;
}
#main p{
    margin: 0;
}
#main #date{
    font-size: 2vmin;
}
#main div{
    padding-top: 1.5vmin;
    padding-bottom: 1.5vmin;
    margin-top: 1.5vmin;
    margin-bottom: 1.5vmin;
    border-top: solid;
    border-bottom: solid;
}
li.checked{list-style: none;}
li.unchecked{list-style: none;}
li.checked:before{content: '✓ ';}
li.unchecked:before{content: '✗ ';}
div.code{
    background-color: rgba(0, 0, 0, 0.4);
    padding-left: 1.5vmin;
    padding-right: 1.5vmin;
}
code{
    padding: 0;
    margin: 0;
    font-family: 'Nanum Gothic Coding', monospace;
}
