body {
    margin: 0;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
    padding: 30px;
}
section#main {
    padding: 30px;
    border: solid white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 30px;
}
section#main > h1 {
    font-size: 100px;
    text-align: center;
    margin: 0;
}
section#main > div#link-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
section#main > div#link-container > a {
    color: white;
    text-decoration: none;
    font-size: 50px;
    transition: .2s transform;
}
section#main > div#link-container > a:hover {
    transform: scale(1.1);
}