#admin{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: brightness(50%) blur(5px);
    color: white;
    border-radius: 20px;
    padding: 40px;
    margin: 0;
}
#admin h2{
    font-size: 50px;
    margin: 0px;
    margin-bottom: 20px;
}
#admin b{
    font-size: 30px;
}