:root{
    --color-hue: 745;
    --color-saturation: 30%;
    --color-lightness: 90%;
    
    --desktop-development-status:terminado;
    --desktop-development-note:Me gustan los batidos, eso es todo;

    --mobile-development-status: ;
    --mobile-development-note: ;

    --publish-date:'2023-03-11';
}´
[data-theme="dark"]{
    --color-saturation: 45%;
    --color-lightness: 65%;
}