@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://www.nerdfonts.com/assets/css/webfont.css');

body {
    background: radial-gradient(ellipse at 75% 0%, var(--bg-color-1) 0%, var(--bg-color-2) 60%);
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    min-height: 100vh;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(2vmin);
    background-color: rgba(0,0,0,.3);
    padding: 1vmin 2vmin;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vmin;
}

header h1 {
    font-size: 4vmin;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

header > a {
    font-size: 3vmin;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

header > a, header h1 {
    transition: .2s;
}

header a:hover {
    color: rgba(255, 255, 255, 1);
}

section.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.main {
    max-width: 60vmax;
    background-color: rgba(0, 0, 0, .4);
    padding: 0 3vmin 0 3vmin;
    margin: 3vmin 0 3vmin 0;
    border-radius: 3vmin;
}

section.main h1, section.main h2 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

section.main h1 {
    color: var(--h1-color);
    font-size: 4vh;
}

section.main h2 {
    color: var(--h2-color);
    font-size: 3vh;
}

section.main p {
    font-size: 2vh;
    color: white;
}

section.main table {
    padding: 0;
    border-collapse: collapse;
    margin-top: 2vmin;
    margin-bottom: 2vmin;
    font-size: 2vmin;
    width: 100%;
}

section.main table thead {
    background-color: rgba(255, 255, 255, .5);
}


section.main table, section.main table th, section.main table td {
    border: solid rgba(255, 255, 255, .5) .3vmin;
}

section.main table thead tr th {
    padding: 1vmin 1vmin;
    text-align: left;
}

section.main table tbody tr th {
    font-size: 1.5vmin;
    padding: 1vmin 1vmin;
    text-align: left;
    color: white;
}