@import url('https://fonts.googleapis.com/css2?family=Caramel&family=Lato:wght@300;400&display=swap');
*{font-family: 'Lato', sans-serif; overflow: hidden; transition: .2s;}
*::-webkit-scrollbar{
    width: 1vmin;
}
*::-webkit-scrollbar-track{
    background: transparent;
}
*::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.4);
    border-radius: 0.5vmin;
}
*::-webkit-scrollbar-thumb:hover{
    background: rgba(255, 255, 255, 0.7);
}
header{
    border-radius: 5vw;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: rgba(255, 255, 255, .9);
    backdrop-filter: blur(1pt);
    font-size: 10vw;
    text-align: center;
    grid-area: header;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    margin-left: 4vw;
    margin-right: 4vw
}
body{
    overflow: hidden;
    background: linear-gradient(-45deg, rgb(143, 23, 52), rgb(255, 255, 131), rgb(93, 93, 208), rgb(239, 174, 178));
    background-size: 400% 400%;
    grid-template-areas: "header" "card";
    grid-template-rows: 1fr 1fr;
    animation: gradient 30s ease infinite;
    margin: 0;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#card{
    overflow: hidden;
    transition: .0s;
    /*max-height: 80vh;*/
    grid-area: card;
}
#card #info{
    transition: .2s;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    color: white;
    backdrop-filter: blur(1pt);
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5vw;
    position: absolute;
    bottom: 4vw;
    left: 4vw;
    right: 4vw;
    padding: 2vw;
    height: 30vh;
}
#card #image{
    width: 100%;
    object-fit: cover;
    border-radius: 5vw;
    aspect-ratio: 4 / 6;
}
#card h1{
    font-style: italic;
    font-size: 15vw;
    margin: 0;
}
#card #subscriptions #subscription, #card #tags #tag, #card #genderSexuality #gender, #card #genderSexuality #sexuality{
    text-align: center;
    display: flex;
    align-items:center;
    justify-content:center;
    margin: 1vw;
    padding: 1vw;
    border: white solid 1pt;
    border-radius: 2vw;
    width: 100%;
}
#card #subscriptions, #card #tags, #card #genderSexuality{
    display: flex;
}
#card h1, #card #tags, #card #description, #card #genderSexuality, #card #photos{
    margin-bottom: 4vw;
}
#leftIndicator{
    opacity: 0;
    transition: .01s;
    background: linear-gradient(to right, rgb(158, 58, 58) 1%, rgba(0,0,0,0) 99%);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 25vw;
}
#rightIndicator{
    opacity: 0;
    transition: .01s;
    background: linear-gradient(to left, rgb(136, 243, 136) 1%, rgba(0,0,0,0) 99%);
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 25vw;
}
#bottomGradient{
    z-index: 2;
    border-radius: 5vw;
    position: fixed;
    bottom: 4vw;
    left: 4vw;
    right: 4vw;
    height: 10%;
    background: linear-gradient(to top, black 10%, rgba(0, 0, 0, 0) 90%);
}
#photos{
    overflow-x: overlay;
    white-space: nowrap;
    border-radius: 5vw;
}
#photos::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 1);
    border-radius: 0.5vmin;
}
#photos::-webkit-scrollbar-thumb:hover{
    background: rgba(255, 255, 255, 1);
}
#photos::-webkit-scrollbar{
    width: 1vmin;
}
#photos::-webkit-scrollbar-track{
    background: transparent;
}
#photos .photo{
    display: inline-block;
    width: 80%;
    object-fit: cover;
    aspect-ratio: 9 / 16;
}
.line{
    margin-top: 2vw;
    margin-bottom: 2vw;
    border-top: dashed grey 2pt;
}