:root {
    color-scheme: dark;
    --text-color: white;
    --bg-color: #251f32;

}

* {
    margin: 0;
    padding: 0;
    font-family: "Onest", sans-serif;
    user-select: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

body {
    background-color: var(--bg-color);
}

header {
    padding: 4rem;
    background: radial-gradient(ellipse at 75% 0%, #424f70 0%, #251F32 74%);
}

.hover{
    transition: transform 0.2s ease-out;
}

.hover:hover{
    transform: scale(1.05);
}

.container {
    max-width: 60rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    row-gap: 4rem;
}

@media screen and (max-width:55rem) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.left {
    display: flex;
    gap: 4rem;
}

.subleft{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    font-size: 3rem;
}

h2{
    font-weight: normal;
    font-size: 1.2rem;
    color: #e7e0f8;
}

.logo {
    width: 7rem;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link{
    color: #e7e0f8;
    font-size: 1.1rem;
    display: flex;
    padding: 3px;
    border-radius: 10px;
    transition: all 0.2s ease-out;
}

.link:hover{
    background-color: #e7e0f828;
}

.arrow {
    width: 1.1rem;
}

main{
    max-width: 60rem;
    margin: auto;
    padding: 0 2rem;
}

p{
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

li{
    color: #e7e0f8;
}

section{
    max-width: 1122px;
    margin: auto;
}

.splide__slide img {
    max-width: 100%;
}

footer{
    margin: 1rem;
    text-align: center;
}