::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background: rgba(255, 255, 255, 0.7);
}
body{
    z-index: 0;
    background-attachment: fixed;
    text-align: center;
    background: linear-gradient(-45deg, #fb0bd8, #12adb8, #f62a64);
    background-size: 500% 500%;
    animation: change 20s ease-in-out infinite;
    background-repeat: no-repeat;
    font-family: 'Dancing Script', cursive;
    font-size: 8vh;
    color: rgba(255, 255, 255, 0.9);
    height: 100%;
    overflow: overlay;
}
.widget{
    overflow: overlay;
    position: sticky;
    display: inline-block;
    float: none;
    min-width: 20vh;
    max-width: 50vh;
    height: 400px;
    text-align: left;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 1vh;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    backdrop-filter: brightness(60%) invert();
    border-width: 10px 10px 50px 10px;
    border-color: white;
    border-style:solid;
    color: black;
}
@keyframes change{
    0%{background-position: 0% 50%;}
    50%{background-position: 100%, 50%;}
    100%{background-position: 0%, 50%;}
}

.widget #title{
    font-size: 6vh;
    font-family: 'Shadows Into Light', cursive;
}

.widget #content{
    font-size: 4vh;
    font-family: 'Fredoka', sans-serif;
}
header{
    position: fixed;
    z-index: 1;
    right: 0;
    left: 0;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    backdrop-filter: blur(5px) grayscale(50%) brightness(50%);
}
.widget a{
    text-decoration: none;
    color: rgb(50, 50, 50);
}
.widget a:hover{
    color: black;
}
.widget .song{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
