input, select, textarea{
    font-size: 3vh;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border-color: gray;
    border-top: none;
    border-right: none;
    border-left: none;
    margin: 5px;
}
input:hover, select:hover{
    border-color: white;
}
input:focus, select:hover{
    outline: none;
    border-color: white;
}
option{
    font-size: 2vh;
    border: none;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background: rgba(255, 255, 255, 0.7);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}
html{
    overflow-x: hidden;
}
body{
    background-image: url(media/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Quicksand', sans-serif;
}
header{
    font-family: 'Oleo Script Swash Caps', cursive;
    padding-left: 50px;
    padding-right: 50px;
    height: 70px;
    vertical-align: middle;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: brightness(50%) blur(5px);
    border-radius: 20px;
}
header img{
    float: right;
    padding: 10px;
    border-radius: 20px;
    height: 50px;
}
header img:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
header div{
    float: left;
    border-radius: 20px;
    font-size: 43px;
    padding: 5px;
}
header div:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
#menu{
    font-family: 'Oleo Script Swash Caps', cursive;
    backdrop-filter: brightness(50%) blur(5px);
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}
#menu div{
    width: 47%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 35px;
    float: none;
    display: inline-table;
}
#menu div:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
#about{
    backdrop-filter: brightness(50%) blur(5px);
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}
#about div{
    float: none;
    display: inline-table;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 35px;
    vertical-align: middle;
}
#about div img{
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.richAlert{
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 99%;
    background-color: transparent;
    color: white;
    top: 0;
    text-align: center;
    display: none;
    backdrop-filter: blur(5px) brightness(50%);
}
.richAlert p{
    font-size: 6vh;
    font-family: 'Nanum Gothic', sans-serif;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
.richAlert input{
    font-size: 6vh;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border-color: gray;
    border-top: none;
    border-right: none;
    border-left: none;
    margin: 5px;
}