<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeffser</title>
    <link rel="stylesheet" href="../style.css">
    <script>
        window.onload = function(){
            document.getElementById("content").style.marginTop = document.getElementsByTagName("header")[0].offsetHeight + 40 + "px";
        }
    </script>
</head>
<body>
    <header>
        <div>
            <h1>Jeffry Eduarte Rojas</h1>
        </div>
        <a href="https://github.com/Jeffser?tab=repositories">Repositories</a>
        <a href="./">Blog</a>
        <a href="./">Contact</a>
    </header>
    <section id="content">
        <div id="title">
            <h1>{{ page.title }}</h1>
            {% if page.date %} <span id="date">{{ page.date }}</span>{% endif %}
        </div>
        <p>
            {{ content }}
        </p>
    </section>
</body>
</html>